<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <title>Calculator</title>
    <style>

    </style>
</head>
<header th:insert="~{blocks/header :: header}"></header>
<body>
    <form action="/calculate" method="get">
        <label for="salary">Ваша средняя ЗП за 12 месяцев</label>
        <input type="text" id="salary" name="salary" required></br>
        <!--<label for="days">Количество отпускных</label>
        <input type="text" id="days" name="days" required></br>-->
        <label for="dateStart">Дата начала</label>
        <input type="date" id="dateStart" name="dateStart">
        <label for="dateEnd">Дата конца</label>
        <input type="date" id="dateEnd" name="dateEnd">
        <input type="submit" value="Рассчитать">
    </form>
</body>
</html>