<div th:fragment="header">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-link px-2 text-white">Выполнил: Минкин Иван</li>
                    <li><a href="https://t.me/Ivan_Min" class="nav-link px-2">Мой Telegram</a></li>
                    <li><a href="https://neostudy.neoflex.ru/local/profile/index.php?id=44477" class="nav-link px-2">Мой профиль в NeoStudy</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>